<!DOCTYPE html>
<html>
  <head>
    <title>SecondApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-e4EhcNyUDF/kj6ZoPkLnURgmd8KW1B4z9GHYKb7eTG3w3uN8di6EBsN2wrEYr8Gc" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="<%= pages_landing_path%>">Landing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="<%= students_path%>">Index</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li> -->
  <!-- <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li> -->
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="home">
  </div>
  <div class="tab-pane fade" id="profile">
  </div>
  <!-- <div class="tab-pane fade" id="dropdown1">
  </div>
  <div class="tab-pane fade" id="dropdown2">
  </div> -->
</div>

    <%= yield %>
  </body>
</html>
